#div-click {
    margin: 20px;
    border: 2px solid black;
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    display: flex;
}

#btn-click {
    width: 85%;
    height: 85%;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
}

#btn-click:hover {
    width: 95%;
    height: 95%;
    cursor: pointer;
}

#p-dinheiro {
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}